:root{
    --color: #e5e7eb;
    --primary-color: #0AD4EB;
    --secondry-color: #0066ef;
    --main-bg-color: rgb(36 37 38);
    --sec-bg-color: rgb(38 61 56);
    --msg-bg-color: rgb(87 108 133 / 25%);
    --input-box-color: rgb(58 59 60);
    
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;

    background: #555;
  }
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: var(--main-bg-color);
}

.hide{
    display: none;
}
.error{
    color: red;
    font-weight: 600;
    font-size: 15px;
}
.msg{
    color: green;
    font-weight: 600;
    font-size: 15px;
}
/*----------------------
        Sign Up
  ----------------------*/

.signup{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, var(--sec-bg-color), var(--other-bg-color));
}

.signup-form{
    width: 250px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 70px;
    text-align: center;
    color: white;
}

.signup-form img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
}

.signup-form label{
    font-size: 25px;
}

.signup-form .input-container{
    width: 100%;
    height: 55px;
    padding: 15px 0;
}
.signup-form input{
    height: 25px;
    font-size: 18px;
    color: gray;
    border: none;
    padding: 0 5px;
    border-radius: 5px;
}
.signup-form input:focus{
    outline: none;
    border: none;
}

.signup-form .country-code{
    width: 50px;
    float: left;
}
.signup-form .number{
    width: 180px;
    float: right;
}
.signup-form .submit{
    width: 75px;
    height: 30px;
    background-color: white;
    border-radius: 7px;
    color: rgb(53, 53, 53);
    margin: auto;
    border: none;
    font-size: 15px;
    font-weight: 700;
}

/*----------------------- 
        Chats Section
  -----------------------*/

.chats-section{
    height: 100vh;
    width: 100%;
    color: rgb(22, 22, 22);
    background-color: var(--main-bg-color);
}

.chats-groups{
    width: 25%;
    height: 100%;
    float: left;
    border-right: 1px solid gray;
}

.chats-chat{
    width: 75%;
    height: 100%;
    float: right;
}


/*------------------------- 
        Groups Section
  -------------------------*/

.groups-section{
    width: 100%;
    height: 100%;
}

.groups-app-logo{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
}

.groups-app-logo img{
    width: auto;
    height: 100px;
    border-radius: 50%;
}

.groups-search{
    width: 100%;
    height: 35px;
    margin: 5px 0;
    text-align: center;
    /* margin-bottom: 20px; */

}

.groups-search input{
    width: 90%;
    height: 25px;
    border-radius: 20px;
    border: none;
    color: var(--color);
    background-color: var(--input-box-color);
    /* box-shadow: 0 0 5px 3px rgba(255, 20, 145, 0.4); */
    padding: 0 15px;
}
.groups-search input:focus{
    outline: none;
}

.groups-top-buttons{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.group-join{
    width: 35%;
    height: 25px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
}
.group-create{
    width: 35%;
    height: 25px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: whitesmoke;

    font-size: 20px;
    font-weight: 600;
}
.groups-list{
    width: 100%;
    height: 60%;
    overflow-y: auto;
    border-top: 1px solid gray;
    margin-bottom: 10px;
}

.group{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.active-group{
    background-color: var(--msg-bg-color);
}
.group-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
}
.group-info{
    width: 70%;
    height: 55px;
    font-size: 18px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color);
}

.groups-footer-button{
    width: 100%;
    height: auto;
    text-align: center;
}

.groups-footer-button button{
    width: 35%;
    height: 25px;
    background: var(--primary-color);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}

.show-groups-list{
    width: 25px;
    height: 25px;
    font-size: 17px;
    font-weight: 700;
    font-family: monospace;
    color: var(--color);
    background: var(--input-box-color);
    padding: 0px 0px 0px 7px;
    border-radius: 50%;
}
.groups-create-section, .groups-join-section{
    width: 100%;
    height: 80%;
    text-align: center;
    color: var(--color);
}
.groups-create-section input, .groups-join-section input{

    width: 90%;
    height: 25px;
    border-radius: 20px;
    border: 1px solid var(--sec-bg-color);
    background-color: transparent;
    margin: 10px auto ;
    padding: 0 10px;
}
.groups-create-section button, .groups-join-section button{

    width: 75px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    margin: 10px auto ;
    padding: 0 10px;
}

/*-------------------- 
        Chat Section
  --------------------*/

.chat-section{
    width: 100%;
    height: 100%;
}
.chat-section>.temp-chat-msg{
    width: 100%;
    height: 100%;
    padding-top: 35%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--color);
    line-height: 25px;
}
.chat-top-info{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.chat-main{
    width: 100%;
    height: 82%;
}
.chat-bottom{
    width: 100%;
    height: 6%;
    border-top: 2px solid gray;
}
.chat-group-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 10px;
    border: 2px solid gray;
}
.chat-group-name{
    width: 90%;
    height: 25px;
    font-size: 18px;
    color: var(--color);
}
.chat-group-menu{
    width: 2%;
    height: 25px;
    font-size: 20px;
}
.chat-massages{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: stretch; */
    flex-direction: column;
    /* justify-content: flex-end;   removed due to scroll bug */
    overflow-y: scroll;
}

/* to fix scrolling bug from justify content flex end */
.scrollFix{  
    flex: 1 1  auto;
}
.chat-massage{
    width: 100%;
    height: auto;
    padding: 5px 20px;
}
.chat-massage-sender{
    width: auto;
    max-width: 70%;
    height: auto;
    padding: 0 7px;
    border-radius: 10px;
}

.chat-massage .self{
    float: right;
    background-color: var(--secondry-color);
    color: var(--color);
}
.chat-massage .other{
    float: left;
    background-color: var(--msg-bg-color);
    color: var(--color);
}

.massager{
    font-size: 13px;
    margin-bottom: 5px;
    
}
.chat-massage .massager{
    color: var(--color);
}
.massage-data{
    font-size: 18px;
}
.massage-data p{
    white-space: pre-wrap;
    line-break: anywhere;
}
.chat-input-area{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
}
.chat-input{
    width: 75%;
    height: 88%;
}
.chat-input input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    /* box-shadow: 0 0 5px 2px rgba(0, 255, 255, 0.9); */
    background-color: var(--sec-bg-color);
    color: var(--color);
    padding: 0 15px;
    resize: none;
    font-size: 16px;
    line-height: 25px;
}
.chat-input input{
    outline: none;
}
.chat-send{
    width: 75px;
    height: 25px;
}
.chat-send button{
    width: 75px;
    height: 30px;
    border-radius: 20px;
    border: none;
    color: var(--color);
    font-size: 20px;
    background: var(--secondry-color);
}